*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding:  30px 150px;
}

/*colors*/
.text-orange { color:#FF900E; }
.text-gray   { color:#424242; }
.text-muted  { color:#727272; }
.text-white  { color:#FFFFFF; }
.text-black  { color:#131313; }

/*background colors*/
.bg-orange{ background-color:#FF900E; }
.bg-gray  { background-color:#424242; }
.bg-muted { background-color:#727272; }
.bg-white { background-color:#FFFFFF; }
.bg-black { background-color:#131313; }

/*explore more button*/
.explore-more-btn{
    Width: 180px;
    Height: 64px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

/*.................................header section start..............................................*/
header{
    background-color: #FF900E1A;
}

/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    font-size: 45px;
    font-weight: 700;
}

.navbar-list{
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/*banner*/

.banner{

}

.banner-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.banner-body-title{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.banner-body-details{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.banner-body-img{
    width: 100%;
    margin-bottom: 30px;
}
/*.................................header section end................................................*/



/*.................................main section start................................................*/
section{
    margin: 55px 0;
}

.quick-feature{
    display: flex;
    align-items: center;
}
.quick-feature-left{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 4px;
}

.quick-feature-left-img{
    height: 250px;
    width: 250px;
}

.quick-feature-right{
 padding-left: 20px;
}

.quick-feature-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}

.quick-feature-details{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

/*.................................main section end..................................................*/


/*.................................footer section start..............................................*/

/*.................................footer section end................................................*/