*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding:  0 240px;
}

/*.................................header section start..............................................*/

/*.................................header section end................................................*/


/*.................................main section start................................................*/

/*.................................main section end..................................................*/


/*.................................footer section start..............................................*/

/*.................................footer section end................................................*/