*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container{
    padding:  4% 12%;
}

/*colors*/
.text-orange { color:#FF900E; }
.text-gray   { color:#424242; }
.text-muted  { color:#727272; }
.text-white  { color:#FFFFFF; }
.text-black  { color:#131313; }

/*background colors*/
.bg-orange{ background-color:#FF900E; }
.bg-gray  { background-color:#424242; }
.bg-muted { background-color:#727272; }
.bg-white { background-color:#FFFFFF; }
.bg-black { background-color:#131313; }
.bg-footer { background-color:#FFF4E7; }

/*explore more button*/
.explore-more-btn{
    Width: 180px;
    Height: 64px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}

/*.................................header section start..............................................*/
header{
    background-color: #FF900E1A;
}

/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo{
    font-size: 45px;
    font-weight: 700;
    width: 50%;
}

.navbar-list{
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/*banner*/

.banner{

}

.banner-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.banner-body-title{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.banner-body-details{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.banner-body-img{
    width: 100%;
    margin-bottom: 30px;
}
/*.................................header section end................................................*/



/*.................................main section start................................................*/
section{
    margin: 10% 0;
}


/*quick feature*/
.quick-feature{
    display: flex;
    align-items: center;
}
.quick-feature-left{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

.quick-feature-left-img{
    height: 250px;
    width: 250px;
}

.quick-feature-right{
 padding-left: 60px;
}

.quick-feature-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}

.quick-feature-details{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}


/*loving feature*/
.loving-feature{
    display: flex;
    align-items: center;

}

.loving-feature-left{
    width: 50%;
    margin-right: 30px;
    padding-right: 10px;
}

.loving-feature-title{
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    margin-bottom: 24px;
}

.loving-feature-details{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    /*width: 100%;*/
}

.loving-feature-lists{
    /*width: 100%;*/
}

.loving-feature-list{
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px #727272;
    width: 100%;
}

.loving-feature-list-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.loving-feature-list-details{
    font-size: 16px;
    font-weight: 400;
}

.loving-feature-right{
    width: 50%;
    height: 900px;
    /*width: 800px;*/
    position: relative;

}

.loving-feature-right-img{

    height: 800px;
    width: 480px;
    position: absolute;
    top: 0;
    right: 0;
}

.loving-feature-right-btn{
    padding: 40px;
    border: none;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn-text-1{
    font-size: 65px;
    font-weight: 700;
}
.btn-text-2{
    font-size: 25px;
    font-weight: 500;
}


/*fact section*/
.facts-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-details{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 100px;
}
.facts-lists{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.facts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facts-list:hover{
    background-color: #FF900E;
    color: #FFFFFF;
    box-shadow:2px 2px 10px #727272;
    padding: 10px;
}

.facts-list-icon{
    height: 45px;
    width: 45px;
}

.facts-list-title{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

.facts-list-details{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/*sponsar section*/
.sponsor{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.sponsor-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.sponsor-details{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sponsor-list-img{
    height: 50px;
    filter: grayscale(100%);

}

/*.................................main section end..................................................*/




/*.................................footer section start..............................................*/
.footer-details{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 100px;
}

/*.................................footer section end................................................*/


/*.................................responsive section start..........................................*/
/*for mobile*/
@media screen and (max-width: 576px){

    /*header section*/
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-list-sm{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .navbar-list-item-sm{
        margin-bottom: 10px;
    }


    /*quick feature section*/
    .quick-feature-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quick-feature-left-sm{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        margin-bottom: 10px;

    }

    .quick-feature-right-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-align-sm{
        text-align: center;
    }

    /*lovng feature*/
    .loving-feature-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loving-feature-right-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .loving-feature-right-img-sm{
        width: 100%;
        height: 300px;
        position: absolute;
        right: 20px;

    }
    .loving-feature-right-btn {
        padding: 20px;
        border: none;
        border-radius: 8px;
        position: relative;
        top: 0;
        left: 0px;
    }

    /*fact*/
    .facts-lists{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .facts-list-sm{
        margin-bottom: 50px;
    }

    /*sponsar*/
    .sponsor-list-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mb-sm{
        margin-bottom: 50px;
    }
}





/*for tab*/
@media screen and (min-width: 577px) and (max-width: 1247px){

    /*header section*/
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-list-sm{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .navbar-list-item-sm{
        margin-bottom: 10px;
    }


    /*quick feature section*/
    .quick-feature-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quick-feature-left-sm{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        margin-bottom: 10px;

    }

    .quick-feature-right-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-align-sm{
        text-align: center;
    }

    /*lovng feature*/
    .loving-feature-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loving-feature-right-sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .loving-feature-right-img-sm{
        width: 100%;
        height: 300px;
        position: absolute;
        right: 20px;

    }
    .loving-feature-right-btn {
        padding: 20px;
        border: none;
        border-radius: 8px;
        position: relative;
        top: 0;
        left: 0px;
    }

    /*fact*/
    .facts-lists{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .facts-list-sm{
        margin-bottom: 50px;
    }

    /*sponsar*/
    .sponsor-list-sm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mb-sm{
        margin-bottom: 50px;
    }
}
/*.................................responsive section end............................................*/